





<div class="container-fluid">
    
  
    <!-- Main content area -->
    <section class="my-5">
      <div class="container">
        <h2 class="text-center mb-4">Welcome to the User Management System</h2>
        <p class="lead text-center mb-5">Manage your users with ease, whether you are an administrator or a regular user.</p>
  
        <div class="row">
          <!-- Information Cards -->
          <div class="col-md-6 mb-6">
            <div class="card">
                
                <img src="https://t4.ftcdn.net/jpg/03/60/29/63/360_F_360296349_2pm4h5a8NeCIVnBgFZip8Pt7WbEXdYeV.jpg" class="card-img-top" alt="Image 2">

              <div class="card-body">
                <h5 class="card-title">Admin Dashboard</h5>
                <p class="card-text">As an administrator, you can manage users, view their profiles, and perform administrative actions.</p>
                <a href="/login" class="btn btn-primary">Go to Admin Dashboard</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-6 mb-6">
            <div class="card">
              <img src="https://png.pngtree.com/thumb_back/fh260/background/20190220/ourmid/pngtree-blue-business-technology-user-image_6481.jpg" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">User Dashboard</h5>
                <p class="card-text">As a user, you can view and update your profile, and interact with the system's features.</p>
                <a href="/login" class="btn btn-primary">Go to User Dashboard</a>
              </div>
            </div>
          </div>
  
          
        </div>
      </div>
    </section>
  

    
  </div>
  

