

  <div class="login-container">
    <div class="login-form">
      <!-- Logo Section -->
      <div class="logo-container">
        <img src="https://media.licdn.com/dms/image/v2/D4D0BAQHZINP19t2FcA/company-logo_200_200/company-logo_200_200/0/1664538342943/south_central_railway_logo?e=2147483647&v=beta&t=c4i1wVGF40oUOewFAhrbiQhD3CceaK7D8FxpsKi3rMk" alt="Logo" class="logo" />
      </div>
  
      <h2>Login</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            [class.invalid]="loginForm.controls.email.invalid && loginForm.controls.email.touched"
          />
          <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="error-message">
            Please enter a valid email.
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            [class.invalid]="loginForm.controls.password.invalid && loginForm.controls.password.touched"
          />
          <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="error-message">
            Password is required.
          </div>
        </div>
  
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
  
      <div class="register-link">
        <p>Don't have an account? <a routerLink="/register">Register here</a></p>
      </div>
    </div>
  </div>
  