/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://img.freepik.com/free-vector/futuristic-white-technology-background_23-2148390336.jpg);
    /* background-image: url(https://cdn.daily-sun.com/public/news_images/2021/07/02/Metro_rail.PNG); */
    background-repeat: no-repeat;
    background-size:100% 100%;

}